*{
    padding: 0%;
    margin: 0%;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    margin: 60px 60px;
}
.button1{
    border: 3px solid hsl(321, 100%, 78%);
    float: right;
    margin-right: 40px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: white;
    color: hsl(321, 100%, 78%);
    
    
}
.section1{
    text-align: center;
    margin: 180px auto;
    line-height: 2;
}
.text-1{
    font-size: 252%;
}
.space{
    line-height: 2rem;
}
.button2{
        
        margin-right: 40px;
        padding: 25px 70px;
        border-radius: 50px;
        background-color: hsl(322, 100%, 66%);
        color: hsl(0, 0%, 100%);
        font-weight: bold;
        margin: 10px auto;
        box-shadow: 0px 12px 5px #EDEDED;

}
.image1{
    margin: 20px 15%;
}
.section2{
    margin: 100px 20px;
}
.community{
    display: inline;
    margin: auto 20%;
    width: 45px;
}
.shift{
    margin: auto 22%;
}
.message{
    margin: auto 17%;
    width: 45px;
}
.edit1{
    display: inline;
    margin: 0 20%;
    font-size: 5rem;
}
.message-edit1{
    
        display: inline;
        margin: 0 7%;
        font-size: 5rem;
}
.edit2{
    display: inline;
        margin: 0 20%;
        font-size: 22px;
        color: gray;
}
.message-edit2{
    display: inline;
        margin: 0 7%;
        font-size: 22px;
        color: gray;
}

.img1{
    width: 43%;
}
.img3{
    float: right;
    width: 43%;
}
.section3{
    background-color: #f6fbff;
    margin-top: -1%;
    padding: 20%;
}
.img1{
    width: 101%;
    margin-top: 10%;
}
.img2 {
    width: 101%;
}
.spacing{
    line-height: 2;
    display: block;
}

.img-set1{
width: 100%;
}
.img-set2{
    width: 30%;
    float: right;
    padding: 50px 12% 0 0;
}
.center{
    display: inline-block;
    padding: 12% 0 0 15%;
}
.bg-color{
    background-color: #f6fbff;
    margin-top: -1%;
    padding: 0 0 10% 0
}
.section4{
    margin: 10%;
}
.s4-img{
    position: relative;
    float: left;
    width: 50%;
    
}

.set-4{
text-align: justify;
display: inline-block;
margin: 10% 10%;
}
.your-user{
    margin: -4px -4px;
    background-color: #f6fbff;
}
.user-img{
        float: right;
            margin-right: 5%;
            width: 45%;
}
.user-text{
padding: 16%;
    margin-left: -100px;
    background-color: #f6fbff;
}
.user-img1{
        width: 100%;
        margin-top: 80px;
}
.user-img2{
    width: 100%;
    margin-bottom: 80px;
    
}
.section5{
    text-align: center;
    line-height: 4;
    margin: 60px auto;
}
.button-sec5{
   
    color: white;
    padding: 23px 81px;
    border-radius: 42px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 12px 5px #EDEDED;
}
.footer-img{
    width: 100%;
}
.footer-content{
    background-color: #00252e;
    color: white;
    padding: 10% 10%;
    margin-top: -5px;
}

/*footer*/
.block1{
    width: 50%;
    float: left;
    line-height: 1.5rem;
    margin-left: 0px;
    
}
.block2{
    width: 50%;
    float: right;
    margin-right: -15%;
    line-height: 1.5rem;
    
}
.footing{
    background-color: #00252e;
    text-align: center;
    color: white;
    text-decoration: none;
}
.sub-btn{
    padding: 10px 10px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 5px;
}
.forms{
    padding: 10px 10px;
    border-radius: 5px;
}
